<!DOCTYPE html>
<html><head>
<meta name=viewport content="width=device-width, initial-scale=0.7">
<title>Polymerisation of Alkenes | ChemKey</title>
<meta charset="UTF-8">
<meta name="description" content="Explains the polymerisation of alkenes and the properties of some common polymers">
<meta name="keywords" content="alkenes, ethene, propene, polymerisation, polymer, polymers, polythene, poly(propene), poly(ethene), pvc, ptfe, atactic, isotactic, syndiotactic">

<link rel="stylesheet" type="text/css" href="https://shout.education/ChemKey/chemguide.css">
<script type="text/javascript" src="https://shout.education/ChemKey/Libraries/AccessibilityFeatures/FontSizeController/fontSizeController.js"></script>
<script type="text/javascript" src="https://shout.education/ChemKey/Libraries/ChemDoodleWebComponents/ChemDoodleWeb.js"></script>
<script type="text/javascript" src="https://shout.education/ChemKey/Libraries/ChemDoodleWebComponents/chemDoodleWebComponents.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.9.0-alpha1/katex.min.css" integrity="sha384-8QOKbPtTFvh/lMY0qPVbXj9hDh+v8US0pD//FcoYFst2lCIf0BmT58+Heqj0IGyx" crossorigin="anonymous">
<script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.9.0-alpha1/katex.min.js" integrity="sha384-GR8SEkOO1rBN/jnOcQDFcFmwXAevSLx7/Io9Ps1rkxWp983ZIuUGfxivlF/5f5eJ" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://shout.education/ChemKey/Libraries/KaTeX/KaTeXer.js"></script>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-109203606-1"></script>
<script>window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());
gtag('config', 'UA-109203606-1');</script>
<script type="text/javascript" src="https://shout.education/ChemKey/Libraries/QuickNavigation/navigation.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="https://shout.education/ChemKey/Libraries/GoogleCharts/googleTable.js"></script>
<script src="https://shout.education/ChemKey/Libraries/Sequences/sequences.js" type="text/javascript"></script>
<script type="text/javascript" src="//platform-api.sharethis.com/js/sharethis.js#property=5a84906d4b5cb20013b18487&product=sticky-share-buttons"></script>
</head>

<body>
<a name="top"></a>
<div id="top-bar">
<div class="help">Need help? Email <a href="mailto:help@shout.education?subject=Help with ChemKey">help@shout.education</a></div>
<div id="translate">
<div id="google_translate_element"></div><script type="text/javascript">
function googleTranslateElementInit() {
new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE, gaTrack: true, gaId: 'UA-109203606-1'}, 'google_translate_element');
}
</script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</div>
<div id="search">
<script>(function () { var cx = '004986493609168734102:owk3bhie1ts'; var gcse = document.createElement('script'); gcse.type = 'text/javascript'; gcse.async = true; gcse.src = 'https://cse.google.com/cse.js?cx=' + cx; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(gcse, s); })();</script>
<gcse:search></gcse:search>
</div>
</div>

<div class="content">

<h1>Polymerisation of Alkenes</h1>

<div class="text-block">
<p>This page looks at the polymerisation of alkenes to produce polymers like poly(ethene) (usually known as polythene, and sometimes as polyethylene), poly(propene) (old name: polypropylene), PVC and PTFE. It also looks briefly at how the structure of the polymers affects their properties and uses.</p>
</div>

<h2>Poly(ethene) (Polythene or Polyethylene)</h2>

<h3>Low Density Poly(ethene): LDPE</h3>

<h4>Manufacture</h4>

<div class="text-block">
<p>In common with everything else on this page, this is an example of addition polymerisation.</p>
<p>An addition reaction is one in which two or more molecules join together to give a single product. During the polymerisation of ethene, thousands of ethene molecules join together to make poly(ethene) – commonly called polythene.</p>
<p>Ethene is known as the monomer. Poly(ethene) is the polymer.</p>
</div>

<div class="block-formula">
n~\text{CH}_2{=}\text{CH}_2 \longrightarrow {{[\hspace{1.5mu}}\mathllap{-}\text{CH}_2{-}\text{CH}_2{-}\mathllap{]\hspace{2.5mu}}}_n
</div>

<div class="text-block">
<p>The number of molecules joining up is very variable, but is in the region of 2000 to 20000.</p>
</div>

<h5>Conditions</h5>

<table class="list-table">
<tbody><tr><td>Temperature:</td><td>about 200°C</td></tr>
<tr><td>Pressure:</td><td>about 2000 atmospheres</td></tr>
<tr><td>Initiator:</td><td>a small amount of oxygen as an impurity</td></tr>
</tbody></table>

<div class="note">
<p>Note: If you want the <a href="../../mechanisms/freerad/polym.html#top">mechanism for this reaction</a>, you can get it by following this link to the mechanism section of the site.</p>
</div>

<h4>Properties and uses</h4>

<div class="text-block">
<p>Low density poly(ethene) has quite a lot of branching along the hydrocarbon chains, and this prevents the chains from lying tidily close to each other. Those regions of the poly(ethene) where the chains lie close to each other and are regularly packed are said to be crystalline. Where the chains are a random jumble, it is said to be amorphous. Low density poly(ethene) has a significant proportion of amorphous regions.</p>
</div>

<div class="note">
<p>Note: Various sources quote estimated values for the proportion of low density poly(ethene) which is crystalline. These vary from 50% to 75%. I have no idea what the correct value is!</p>
</div>

<div class="text-block">
<p>One chain is held to its neighbours in the structure by van der Waals dispersion forces. Those attractions will be greater if the chains are close to each other. The amorphous regions where the chains are inefficiently packed lower the effectiveness of the van der Waals attractions and so lower the melting point and strength of the polymer. They also lower the density of the polymer (hence: "low density poly(ethene)").</p>
</div>

<div class="note">
<p>Note: Follow this link if you don't understand <a href="../../atoms/bonding/vdw.html#top">van der Waals forces</a>.</p>
</div>

<div class="text-block">
<p>Low density poly(ethene) is used for familiar things like plastic carrier bags and other similar low strength and flexible sheet materials.</p>
</div>

<h3>High Density Poly(ethene): HDPE</h3>

<h4>Manufacture</h4>

<div class="text-block">
<p>This is made under quite different conditions from low density poly(ethene).</p>
</div>

<h5>Conditions</h5>

<table class="list-table">
<tbody><tr><td>Temperature:</td><td>about 60°C</td></tr>
<tr><td>Pressure:</td><td>low – a few atmospheres</td></tr>
<tr><td>Catalyst:</td><td>Ziegler-Natta catalysts or other metal compounds</td></tr>
</tbody></table>

<div class="text-block">
<p>Ziegler-Natta catalysts are mixtures of titanium compounds like titanium(III) chloride, TiCl<sub>3</sub>, or titanium(IV) chloride, TiCl<sub>4</sub>, and compounds of aluminium like aluminium triethyl, Al(C<sub>2</sub>H<sub>5</sub>)<sub>3</sub>. There are all sorts of other catalysts constantly being developed.</p>
<p>These catalysts work by totally different mechanisms from the high pressure process used to make low density poly(ethene). The chains grow in a much more controlled – much less random – way.</p>
</div>

<h4>Properties and uses</h4>

<div class="text-block">
<p>High density poly(ethene) has very little branching along the hydrocarbon chains – the crystallinity is 95% or better. This better packing means that van der Waals attractions between the chains are greater and so the plastic is stronger and has a higher melting point. Its density is also higher because of the better packing and smaller amount of wasted space in the structure.</p>
</div>

<div class="note">
<p>Note: Despite the names, HDPE is only about 3% denser than LDPE! HDPE has a density of about 0.95 g cm<sup>-3</sup> compared with about 0.92 for LDPE.</p>
</div>

<div class="text-block">
<p>High density poly(ethene) is used to make things like plastic milk bottles and similar containers, washing up bowls, plastic pipes and so on. Look for the letters HDPE near the recycling symbol.</p>
</div>

<h2>Poly(propene) (Polypropylene): PP</h2>

<div class="text-block">
<p>Poly(propene) is manufactured using Ziegler-Natta and other modern catalysts. There are three variants on the structure of poly(propene) which you may need to know about, but we'll start from the beginning with a general structure which fits all of them.</p>
</div>

<div class="note">
<p>Note: You should check your syllabus to find out exactly how much you need to know. It is pointless getting bogged down in this if you don't need to! If you are studying a UK-based syllabus and haven't got a copy of that <a href="../../syllabuses.html#top">syllabus</a>, follow this link to find out how to get one.</p>
</div>

<h3>The General Structure</h3>

<div class="text-block">
<p>If your syllabus simply mentions the structure of poly(propene) with no more detail, this is adequate.</p>
<p>The trick is to think about the shape of the propene in the right way:</p>
</div>

<div class="image-container"><img src="propeneshapes.gif"></div>

<div class="text-block">
<p>Now line lots of them up in a row and join them together. Notice that the double bonds are all replaced by single bonds in the process.</p>
</div>

<div class="image-container"><img src="makepp.gif"></div>

<div class="text-block">
<p>In a simple equation form, this is normally written as:</p>
</div>

<div class="image-container"><img src="ppeqn.gif"></div>

<h3>The Three Variations on This Structure</h3>

<div class="text-block">
<p>You have got to remember that the diagrams above are 2-dimensional. Real poly(propene) chains are 3-dimensional. There are three different sorts of poly(propene) depending in how the CH<sub>3</sub> groups are arranged in space.</p>
<p>These are called isotactic, atactic and syndiotactic poly(propene). The commonly used version is isotactic poly(propene).</p>
</div>

<h4>Isotactic poly(propene)</h4>

<div class="text-block">
<p>A bit of the isotactic poly(propene) chain looks like this:</p>
</div>

<div class="image-container"><img src="isotactic.gif"></div>

<div class="note">
<p>Note: Dotted lines show bonds going back into the screen or paper, and wedge shapes show them coming out towards you. If you aren't very happy about the various ways of <a href="../../basicorg/conventions/draw.html#top">drawing organic structures</a> it might be worth following this link before you go on.</p>
</div>

<div class="text-block">
<p>This very regular arrangement of the CH<sub>3</sub> groups makes it possible for the chains to pack close together and so maximise the amount of van der Waals bonding between them. That means that isotactic poly(propene) is quite strong either as a solid object or when it is drawn into fibres.</p>
<p>This is the common form of poly(propene) which is used to make plastic crates and ropes amongst many other things. Look for the letters PP near the recycling symbol.</p>
</div>

<h4>Atactic poly(propene)</h4>

<div class="text-block">
<p>In atactic poly(propene) the CH<sub>3</sub> groups are orientated randomly along the chain.</p>
</div>

<div class="image-container"><img src="atactic.gif"></div>

<div class="text-block">
<p>This lack of regularity makes it impossible for the chains to lie closely together and so the van der Waals attractions between them are weaker. Atactic poly(propene) is much softer with a lower melting point.</p>
<p>It is formed as a waste product during the manufacture of isotactic poly(propene) and its uses are limited. It is used, for example, in road paint, in making roofing materials like "roofing felt", and in some sealants and adhesives.</p>
</div>

<h4>Syndiotactic poly(propene)</h4>

<div class="text-block">
<p>Syndiotactic poly(propene) is a relatively new material and is another regularly arranged version of poly(propene). In this case, every alternate CH<sub>3</sub> group is orientated in the same way.</p>
</div>

<div class="image-container"><img src="syndiotactic.gif"></div>

<div class="text-block">
<p>This regularity means that the chains can pack closely, and van der Waals attractions will be fairly strong. However, the attractions aren't as strong as in isotactic poly(propene). This makes syndiotactic poly(propene) softer and gives it a lower melting point.</p>
<p>Because syndiotactic poly(propene) is relatively new, at the time of writing uses were still being developed. It has uses in packaging – for example, in plastic film for shrink wrapping food. There are also medical uses – for example, in medical tubing and for medical bags and pouches. There are a wide range of other potential uses – either on its own, or in mixtures with isotactic poly(propene).</p>
</div>

<h2>Poly(chloroethene) (Polyvinyl chloride): PVC</h2>

<div class="text-block">
<p>Poly(chloroethene) is commonly known by the initials of its old name, PVC.</p>
</div>

<h3>Structure</h3>

<div class="text-block">
<p>Poly(chloroethene) is made by polymerising chloroethene, CH<sub>2</sub>=CHCl. Working out its structure is no different from working out the structure of poly(propene) (see above). As long as you draw the chloroethene molecule in the right way, the structure is pretty obvious.</p>
</div>

<div class="image-container"><img src="makepvc.gif"></div>

<div class="text-block">
<p>The equation is usually written:</p>
</div>

<div class="image-container"><img src="pvceqn.gif"></div>

<div class="text-block">
<p>It doesn't matter which carbon you attach the chlorine to in the original molecule. Just be consistent on both sides of the equation.</p>
<p>The polymerisation process produces mainly atactic polymer molecules – with the chlorines orientated randomly along the chain. The structure is no different from atactic poly(propene) – just replace the CH<sub>3</sub> groups by chlorine atoms.</p>
</div>

<div class="image-container"><img src="atacticpvc.gif"></div>

<div class="text-block">
<p>Because of the way the chlorine atoms stick out from the chain at random, and because of their large size, it is difficult for the chains to lie close together. Poly(chloroethene) is mainly amorphous with only small areas of crystallinity.</p>
</div>

<h3>Properties and Uses</h3>

<div class="text-block">
<p>You normally expect amorphous polymers to be more flexible than crystalline ones because the forces of attraction between the chains tend to be weaker. However, pure poly(chloroethene) tends to be rather hard and rigid.</p>
<p>This is because of the presence of additional dipole-dipole interactions due to the polarity of the carbon-chlorine bonds. Chlorine is more electronegative than carbon, and so attracts the electrons in the bond towards itself. That makes the chlorine atoms slightly negative and the carbons slightly positive.</p>
<p>These permanent dipoles add to the attractions due to the temporary dipoles which produce the dispersion forces.</p>
</div>

<div class="note">
<p>Note: If you aren't happy about the various sorts of <a href="../../atoms/bonding/vdw.html#top">intermolecular forces</a>, it is important to follow this link.</p>
<p>If you don't understand about <a href="../../basicorg/bonding/eneg.html#top">electronegativity and polar bonds</a>, then follow this one as well.</p>
</div>

<div class="text-block">
<p>Plasticisers are added to the poly(chloroethene) to reduce the effectiveness of these attractions and make the plastic more flexible. The more plasticiser you add, the more flexible it becomes.</p>
<p>Poly(chloroethene) is used to make a wide range of things including guttering, plastic windows, electrical cable insulation, sheet materials for flooring and other uses, footwear, clothing, and so on and so on.</p>
</div>

<h2>Poly(tetrafluoroethene): PTFE</h2>

<div class="text-block">
<p>You may have come across this under the brand names of Teflon or Fluon.</p>
</div>

<h3>Structure</h3>

<div class="text-block">
<p>Structurally, PTFE is just like poly(ethene) except that each hydrogen in the structure is replaced by a fluorine atom.</p>
</div>

<div class="image-container"><img src="makeptfe.gif"></div>

<div class="text-block">
<p>The PTFE chains tend to pack well and PTFE is fairly crystalline. The chains are rather rod-like, and can lie closely together rather like pencils in a box.</p>
</div>

<h3>Properties and Uses</h3>

<div class="text-block">
<p>PTFE has a relatively high melting point of 327°C and is very resistant to chemical attack. The carbon chain is so wrapped up in fluorine atoms that nothing can get at it to react with it. This makes it useful in the chemical and food industries to coat vessels and make them resistant to almost everything which might otherwise corrode them.</p>
<p>Equally important is that PTFE has remarkable non-stick properties – which is the basis for its most familiar uses in non-stick kitchen and garden tools. It also has a very low coefficient of friction and is used in things like low-friction bearings.</p>
</div>

<div class="note">
<p>Note: The reasons for the high melting point, the non-stick properties and the low coefficient of friction are far more complex than most sources suggest.</p>
<p>If you might be asked about this in an exam, it is essential that you find out what your examiners want by looking at past papers and mark schemes.</p>
</div>

<div class="questions-note">
<p>Questions to test your understanding</p>
<a href="../questions/q-alkenespolym.pdf" target="_blank">Questions on the polymerisation of alkenes</a>
<a href="../questions/a-alkenespolym.pdf" target="_blank">Answers</a>
</div>

<div class="link-list">
<p>Where would you like to go now?</p>
<a href="../alkenemenu.html#top">To the alkenes menu</a>
<a href="../../orgpropsmenu.html#top">To the menu of other organic compounds</a>
<a href="../../index.html#top">To Main Menu</a>
</div>

<div class="copyright"><a href="../../about.html">&copy;</a></div>
</div>
</body></html>