<!DOCTYPE html>
<html>

<head>
<meta name=viewport content="width=device-width, initial-scale=0.7">
<title>Reactions of Hexaaqua Ions with Hydroxide Ions | ChemKey</title>
<meta charset="UTF-8">
<meta name="description" content="Describes and explains the reactions between complex hexaaqua metal ions and hydroxide ions from, for example, sodium hydroxide solution">
<meta name="keywords" content="complex, ion, aqua, water, acid, hydroxide, sodium hydroxide, hexaaqua, amphoteric">

<link rel="stylesheet" type="text/css" href="https://shout.education/ChemKey/chemguide.css">
<script type="text/javascript" src="https://shout.education/ChemKey/Libraries/AccessibilityFeatures/FontSizeController/fontSizeController.js"></script>
<script type="text/javascript" src="https://shout.education/ChemKey/Libraries/ChemDoodleWebComponents/ChemDoodleWeb.js"></script>
<script type="text/javascript" src="https://shout.education/ChemKey/Libraries/ChemDoodleWebComponents/chemDoodleWebComponents.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.9.0-alpha1/katex.min.css" integrity="sha384-8QOKbPtTFvh/lMY0qPVbXj9hDh+v8US0pD//FcoYFst2lCIf0BmT58+Heqj0IGyx"
crossorigin="anonymous">
<script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.9.0-alpha1/katex.min.js" integrity="sha384-GR8SEkOO1rBN/jnOcQDFcFmwXAevSLx7/Io9Ps1rkxWp983ZIuUGfxivlF/5f5eJ"
crossorigin="anonymous"></script>
<script type="text/javascript" src="https://shout.education/ChemKey/Libraries/KaTeX/KaTeXer.js"></script>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-109203606-1"></script>
<script>window.dataLayer = window.dataLayer || [];
function gtag() { dataLayer.push(arguments); }
gtag('js', new Date());
gtag('config', 'UA-109203606-1');
</script>
<script type="text/javascript" src="https://shout.education/ChemKey/Libraries/QuickNavigation/navigation.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="https://shout.education/ChemKey/Libraries/GoogleCharts/googleTable.js"></script>
<script src="https://shout.education/ChemKey/Libraries/Sequences/sequences.js" type="text/javascript"></script>
<script type="text/javascript" src="//platform-api.sharethis.com/js/sharethis.js#property=5a84906d4b5cb20013b18487&product=sticky-share-buttons"></script>
</head>

<body>
<a name="top"></a>
<div id="top-bar">
<div class="help">Need help? Email <a href="mailto:help@shout.education?subject=Help with ChemKey">help@shout.education</a></div>
<div id="translate">
<div id="google_translate_element"></div><script type="text/javascript">
function googleTranslateElementInit() {
new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE, gaTrack: true, gaId: 'UA-109203606-1'}, 'google_translate_element');
}
</script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</div>
<div id="search">
<script>(function () { var cx = '004986493609168734102:owk3bhie1ts'; var gcse = document.createElement('script'); gcse.type = 'text/javascript'; gcse.async = true; gcse.src = 'https://cse.google.com/cse.js?cx=' + cx; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(gcse, s); })();</script>
<gcse:search></gcse:search>
</div>
</div>

<div class="content">

<h1>Reactions of Hexaaqua Metal Ions with Hydroxide Ions</h1>

<div class="text-block">
<p>This page describes and explains the reactions between complex ions of the type [M(H<sub>2</sub>O)<sub>6</sub>]<sup>n+</sup> and hydroxide ions from, for example, sodium hydroxide solution.</p>
<p>It assumes that you know why these ions are acidic, and are happy about the equilibria involved.</p>
</div>

<div class="note">
<p>Important: If you aren't happy about the <a href="acidity.html#top">acidity of the hexaaqua ions</a>, it is essential that you follow this link before you go any further.</p>
</div>

<h2>The General Case</h2>

<div class="text-block">
<p>Although there are only minor differences, for simplicity we will look at 2+ ions and 3+ ions separately.</p>
</div>

<h3>Adding hydroxide ions to 2+ hexaaqua ions</h3>

<div class="text-block">
<p>These have the form [M(H<sub>2</sub>O)<sub>6</sub>]<sup>2+</sup>. Their acidity is shown in the reaction of the hexaaqua ions with water molecules from the solution:</p>
</div>

<div class="block-formula">
{\left[M(H_2O)_6\right]}^{2+} + \color{#467abf}{H_2O} \xrightleftharpoons{} {\left[M(H_2O)_5(OH)\right]}^+ + \color{#467abf}{{H_3O}^+}
</div>

<div class="text-block">
<p>They are acting as acids by donating hydrogen ions to water molecules in the solution.</p>
<p>Because of the confusing presence of water from two different sources (the ligands and the solution), it is easier to simplify this:</p>
</div>

<div class="block-formula">
{\left[M(H_2O)_6\right]}^{2+}_{(aq)} \xrightleftharpoons{} {\left[M(H_2O)_5(OH)\right]}^+_{(aq)} + H^+_{(aq)}
</div>

<h4>Disturbing this equilibrium by adding hydroxide ions – stage 1</h4>

<div class="text-block">
<p>What happens if you add hydroxide ions to this equilibrium? There are two possible reactions.</p>
<p>Reaction of hydroxide ions with the hydroxonium ions (hydrogen ions)</p>
<p>According to Le Chatelier's Principle, the position of equilibrium will move to the right, producing more of the new complex ion.</p>
</div>

<div class="image-container">
<img src="2plusmoveeq1.gif">
</div>

<div class="note">
<p>Note: You really need to know about <a href="../../physical/equilibria/lechatelier.html#top">Le Chatelier's Principle</a>, particularly with regard to the effect of changes in concentration on the position of equilibrium. Follow this link if you aren't sure.</p>
</div>

<div class="text-block">
<p>Reaction of hydroxide ions with the hexaaqua ion</p>
<p>Statistically, there is far more chance of a hydroxide ion hitting a hexaaqua metal ion than of hitting a hydrogen ion. There are far more hexaaqua ions present.</p>
<p>If that happens, you get exactly the same new complex ion formed as above.</p>
</div>

<div class="block-formula">
{\left[M(H_2O)_6\right]}^{2+} + \color{#467abf}{OH^-} \longrightarrow {\left[M(H_2O)_5(OH)\right]}^+ + \color{#467abf}{H_2O}
</div>

<div class="text-block">
<p>Notice that this isn't a ligand exchange reaction. The hydroxide ion has removed a hydrogen ion from one of the ligand water molecules. The reaction has also become virtually one-way.</p>
</div>

<h4>The second stage of the reaction</h4>

<div class="text-block">
<p>Whichever of the above reactions happens, you end up with [M(H<sub>2</sub>O)<sub>5</sub>(OH)]<sup>+</sup> ions in solution. These are also acidic, and can lose hydrogen ions from another of the water ligands.</p>
<p>Taking the easier version of the equilibrium:</p>
</div>

<div class="block-formula">
{\left[M(H_2O)_5(OH)\right]}^+_{(aq)} \xrightleftharpoons{} {\left[M(H_2O)_4(OH)_2\right]}_{(s)} + H^+_{(aq)}
</div>

<div class="text-block">
<p>Adding hydroxide ions again tips the equilibrium to the right – either by reacting with the hydrogen ions, or by reacting directly with the complex on the left-hand side.</p>
<p>When this happens, the new complex formed no longer has a charge – we describe it as a "neutral complex". In all the cases we are looking at, this neutral complex is insoluble in water – and so a precipitate is formed.</p>
<p>This precipitate is often written without including the remaining water ligands. In other words we write it as M(OH)<sub>2</sub>. A precipitate of the metal hydroxide has been formed.</p>
</div>

<div class="note">
<p>Note: Which version of the formula for the metal hydroxide should you write? The full version, [M(H<sub>2</sub>O)<sub>4</sub>(OH)<sub>2</sub>], shows more clearly what is going on. Be guided by what your examiners prefer. It may actually vary depending on what context the compound crops up in. My preference is for the full version, and that's what I shall use throughout.</p>
</div>
<h4>Summarising what has happened so far</h4>

<div class="image-container">
<img src="2plustoppt.gif">
</div>

<h4>Going further</h4>

<div class="text-block">
<p>There is no logical reason why the removal of hydrogen ions from the complex should stop at this point. Further hydrogen ions can be removed by hydroxide ions to produce anionic complexes – complexes carrying negative charges.</p>
<p>Whether this actually happens in the test tube to any extent varies from metal to metal.</p>
</div>

<div class="image-container">
<img src="2plusredis.gif">
</div>

<div class="text-block">
<p>In fact, if you do this using sodium hydroxide solution of the usual concentrations, most of the 2+ ions that you will meet at this level don't go beyond the precipitate. The only one you are likely to come across is the zinc case – and that has a complication. The final ion is [Zn(OH)<sub>4</sub>]<sup>2-</sup> – a tetrahedral ion which has lost the remaining 2 water ligands.</p>
</div>

<h3>Adding Hydroxide Ions to 3+ Hexaaqua Ions</h3>

<div class="text-block">
<p>The argument here is exactly as before – the only difference is the number of hydrogen ions which have to be removed from the original hexaaqua complex to produce the neutral complex.</p>
<p>Going beyond the neutal complex is also rather more common with 3+ than with 2+ ions, and may go as far as having a hydrogen ion removed from each of the six water molecules.</p>
<p>This is summarised in the same sort of flow scheme as before:</p>
</div>

<div class="image-container">
<img src="3plussum.gif">
</div>

<div class="note">
<p>Note: It would be absurd to sit and learn all this! All you need to do is to understand that one hydrogen ion gets removed at a time. When you have a neutral complex, it will form a precipitate. That is equally true of the 2+ or 3+ cases. Just be careful with the charges on the complexes. Remember that for every hydrogen ion you remove, you will lose a positive charge (or will gain one more negative charge). When you come to looking at individual metals, you will, of course, have to remember where the sequence usually stops.</p>
</div>

<h2>Looking at the Ions of Specific Metals</h2>

<div class="text-block">
<p>In each case the formula of the precipitate will be given as if it were the simple neutral complex. In fact, these "hydroxide" precipitates sometimes rearrange by losing water from combinations of the attached OH groups. This produces oxides closely associated with the lost water. These changes are beyond the scope of this site.</p>
</div>

<h3>2+ ions</h3>

<div class="text-block">
<h4>hexaaquacobalt(II)</h4></div>

<div class="image-container">
<img src="cooh.gif">
</div>

<div class="note">
<p>Note: I don't know the reason for the change in colour. One reliable source quotes it vaguely as a change in coordination of the metal ion. Another suggests that the blue precipitate involves a chloride ion (from the cobalt(II) chloride solution if that's what you used) as a ligand. You are unlikely to need to worry about this at this level. Remember the colour changes!</p>
</div>

<h4>hexaaquacopper(II)</h4>

<div class="image-container">
<img src="cuoh.gif">
</div>

<div class="text-block">
<h4>hexaaquairon(II)</h4></div>

<div class="image-container">
<img src="fe2oh.gif">
</div>

<div class="text-block">
<p>Iron is very easily oxidised under alkaline conditions. Oxygen in the air oxidises the iron(II) hydroxide precipitate to iron(III) hydroxide especially around the top of the tube. The darkening of the precipitate comes from the same effect.</p>
</div>

<h4>hexaaquamanganese(II)</h4>

<div class="image-container">
<img src="mnoh.gif">
</div>

<div class="text-block">
<p>I have shown the original solution as very pale pink (the palest I can produce!), but in fact it is virtually colourless. The pale brown precipitate is oxidised to a darker brown manganese(III) compound in contact with oxygen from the air.</p>
</div>

<div class="note">
<p>Note: There is a lot of disagreement in the literature about what the darker brown compound is. It is most commonly quoted (including in a couple of research papers) as MnO(OH) or sometimes as Mn<sub>2</sub>O<sub>3</sub>,xH<sub>2</sub>O.</p>
<p>However, some sources quote it as a hydrated manganese(IV) oxide, MnO<sub>2</sub>,xH<sub>2</sub>O. One of the UK Exam Boards (Edexcel International) had this as a part of a question in January 2015.</p>
<p>If your examiners might ask you about this, you must check exactly what they expect you to say in your answer. Check past papers, mark schemes and Examiner's Reports.</p>
</div>

<h4>hexaaquanickel(II)</h4>

<div class="image-container">
<img src="nioh.gif">
</div>

<h4>hexaaquazinc</h4>

<div class="image-container">
<img src="znoh.gif">
</div>

<div class="text-block">
<p>You start and finish with colourless solutions, producing a white precipitate on the way.</p>
</div>

<h3>3+ Ions</h3>

<h4>hexaaquaaluminium</h4>

<div class="image-container">
<img src="aloh.gif">
</div>

<div class="text-block">
<p>This looks exactly the same in the test tube as the corresponding zinc reaction above – but beware the different formulae of the precipitate and the final solution.</p>
</div>

<h4>hexaaquachromium(III)</h4>

<div class="image-container">
<img src="croh.gif">
</div>

<div class="text-block">
<h4>hexaaquairon(III)</h4></div>

<div class="image-container">
<img src="fe3oh.gif">
</div>

<div class="note">
<p>Note: The original colour of the iron(III) ion is very variable – from a pale yellow to a darkish orange-brown. None of these colours is actually the colour of the true hexaaquairon(III) ion. This is explored in more detail on the page about the <a href="acidity.html#top">acidity of the hexaaqua ions</a>.</p>
</div>

<h2>Reversing the Process</h2>

<div class="text-block">
<p>If adding hydroxide ions removes hydrogen ions from the hexaaqua complex one at a time, it doesn't seem unreasonable that you could put them back again by adding an acid. That's just what happens!</p>
<p>We'll look in detail at what happens in the chromium(III) case, but exactly the same principle applies to all the other examples we've looked at – whether for 2+ or 3+ ions. As long as you understand what is happening, you can work out the details if you need to.</p>
</div>

<h3>Adding Acid to Hexahydroxochromate(III) Ions</h3>

<div class="text-block">
<p>These are the ions formed at the end of the sequence in which you add hydroxide ions to a solution containing hexaaquachromium(III) ions. Their formula is [Cr(OH)<sub>6</sub>]<sup>3-</sup>.</p>
</div>

<div class="note">
<p>Note: If you are bothered about the name of these ions: "hexa" = 6; "hydroxo" = OH groups; "chromate(III)" = chromium in the +3 oxidation state, but in a negative ion. If you need to explore these names in more detail, you could look at the page on <a href="names.html#top">naming</a>, but it isn't very important for the present topic.</p>
</div>

<div class="text-block">
<p>A reminder of the colour changes when you add sodium hydroxide solution to a solution containing hexaaquachromium(III) ions:</p>
</div>

<div class="image-container">
<img src="croh.gif">
</div>

<div class="text-block">
<p>If you add an acid (dilute sulfuric acid, for example), the hydrogen ions get put back on one at a time.</p>
</div>

<div class="image-container">
<img src="addacid.gif">
</div>

<div class="text-block">
<p>You already know the colours of the significant stages (the beginning, the end, and the neutral complex). It isn't a separate bit of learning!</p>
<p>You can apply this to any case. If you know the colours as you remove hydrogen ions, you automatically know them as you put the hydrogen ions back on again.</p>
<p>It also doesn't matter where you start from either – whether, for example, you add acid to an ionic complex like [Cr(OH)<sub>6</sub>]<sup>3-</sup>, or a neutral one like [Fe(H<sub>2</sub>O)<sub>4</sub>(OH)<sub>2</sub>].</p>
<p>You will know that the [Fe(H<sub>2</sub>O)<sub>4</sub>(OH)<sub>2</sub>] is a dirty green precipitate. When you add the hydrogen ions back to it, it will revert to the very pale green solution of the [Fe(H<sub>2</sub>O)<sub>6</sub>]<sup>2+</sup> ion. None of this is a new bit of learning – you just have to re-arrange what you already know!</p>
</div>

<div class="note">
<p>Note: In fact, in the chromium case, it is actually slightly more difficult than this, because the final solution tends to end up green rather than the usual strange blue-grey-violet of the hexaaquachromium(III) ion. This happens whenever you produce hexaaquachromium(III) ions in a test tube. The problem is that other ions from the solution (chloride or sulfate) replace one or more water molecules in the complex and give green colours. This is explored some more in the page on <a href="ligandexch.html#top">ligand exchange reactions</a>.</p>
</div>

<h2>Amphoteric Hydroxides</h2>

<div class="text-block">
<p>An amphoteric substance has both acidic and basic properties. In other words, it will react with both bases and acids. Some of the metal hydroxides we've been looking at are doing exactly that.</p>
</div>

<h3>Chromium(III) hydroxide as an Amphoteric Hydroxide</h3>

<div class="text-block">
<p>"Chromium(III) hydroxide" is a simple way of naming the neutral complex [Cr(H<sub>2</sub>O)<sub>3</sub>(OH)<sub>3</sub>]. You have seen that it reacts with bases (hydroxide ions) to give [Cr(OH)<sub>6</sub>]<sup>3-</sup>. It also reacts with acids (hydrogen ions) to give [Cr(H<sub>2</sub>O)<sub>6</sub>]<sup>3+</sup>.</p>
<p>This is a good example of amphoteric behaviour.</p>
<p>Other examples of amphoteric hydroxides are zinc hydroxide and aluminium hydroxide.</p>
</div>

<h3>Copper(II) hydroxide as a Basic Oxide</h3>

<div class="text-block">
<p>Quite a lot of metal hydroxides won't react any further with hydroxide ions if you use sodium hydroxide solution at the sort of concentrations normally used in the lab. That means that they don't have any significant acidic nature.</p>
<p>"Copper(II) hydroxide" is what we would normally call the neutral complex [Cu(H<sub>2</sub>O)<sub>4</sub>(OH)<sub>2</sub>]. This doesn't dissolve in sodium hydroxide solution at any concentration normally used in the lab. It doesn't show any acidic character.</p>
<p>On the other hand, it will react with acids – replacing the lost hydrogen ions on the water ligands. Because it is accepting hydrogen ions, it is acting as a base.</p>
<p>Hydroxides like this (which react with acids, but not bases) are not amphoteric – they are just simple bases.</p>
</div>

<div class="questions-note">
<p>Questions to test your understanding</p>
<a href="../questions/q-complexaquaoh.pdf" target="_blank">Questions on the reactions of hexaaqua metal ions with hydroxide ions</a>
<a href="../questions/a-complexaquaoh.pdf" target="_blank">Answers</a>
</div>

<div class="link-list">
<p>Where would you like to go now?</p>
<a href="../complexmenu.html#top">To the complex ion menu</a>
<a href="../../inorgmenu.html#top">To the Inorganic Chemistry menu</a>
<a href="../../index.html#top">To Main Menu</a>
</div>

<div class="copyright"><a href="../../about.html">&copy;</a></div>
</div>
</body>

</html>