@import url('https://fonts.googleapis.com/css?family=Open+Sans|PT+Serif');

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 17px;
}

body {
    background: #FDFDFD;
    padding: 25px;
}

p {
    font-family: "Times New Roman, serif";
}

p.quote {
    margin-left: 20px;
    margin-right: 20px;
    font-weight: bold;
    font-style: italic;
}

a:link {
    color: #636363;
}

a:visited {
    color: #636363;
}

a:hover {
    color: #969696;
}

a:active {
    color: #636363
}

::selection {
    background-color: #B0B4BA;
}

h1 {
    font-family: "PT Serif";
    text-align: center;
    font-size: 2.5rem;
    margin: 20px 0px 30px 0px;
    border-bottom: 0.25rem solid #323232;
}

h2 {
    font-family: "PT Serif";
    text-align: center;
    font-size: 1.75rem;
    margin: 40px 20px 0px 20px;
    border-bottom: 0.175rem solid #636363;
}

h3 {
    font-family: "PT Serif";
    text-align: center;
    font-size: 1.1rem;
    font-weight: bold;
    margin: 30px 40px 0px 40px;
    border-bottom: 0.11rem solid #969696;
}

h4 {
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    font-style: italic;
    margin: 10px 50px 0px 50px;
    border-bottom: 0.08rem solid #C8C8C8;
}

h5 {
    margin-top: 5px;
    font-weight: bold;
    font-size: 1rem;
}

sup, sub {
    white-space: nowrap;
    vertical-align: baseline;
    position: relative;
    top: -0.4em;
}

sub {
    top: 0.4em;
}

.text-block p {
    font-size: 1rem;
    line-height: 1.4rem;
    margin: 20px 0px;
}

.content {
    margin: 0px auto;
    width: 80%;
}

.content .text-block:first-of-type p:first-of-type {
    font-size: 1.2rem;
    line-height: 1.6rem;
}

/*Notes*/
.note {
    border: 0.5rem solid #c7defc;
    border-radius: 1rem 2rem 2rem 2rem;
    color: #323232;
    padding: 20px;
    margin: 10px 0px;
}

.note p {
    margin: 7.5px 0px;
    font-size: 0.9rem;
    line-height: 1.2rem;
}

.questions-note {
    border: 0.5rem solid #ade2aa;
    border-radius: 1rem 2rem 2rem 2rem;
    padding: 20px;
    margin: 30px 0px 0px 0px;
}

.questions-note p {
    margin: 7.5px 0px;
    font-size: 0.9rem;
    line-height: 1.2rem;
}

.questions-note h3 {
    margin-left: 0px;
    border: 0px;
}

.questions-note a {
    display: block;
}

.definition {
    position: relative;
    border-radius: 1rem 2rem 2rem 2rem;
    font-size: 1rem;
    line-height: 1.2rem;
    padding: 20px;
    margin: 15px;
    border: 0.5rem solid #f2bfbf;

}

.definition::before {
    content: "Definition";
    font-weight: bold;
    position: absolute;
    top: -14px;
    background-color: #FDFDFD;
    padding: 0px 5px;
    color: #f2bfbf;
    font-size: 17px;
}

.definition .block-formula {
    margin: 5px 0px;
}

.summary {
    position: relative;
    border-radius: 1rem 2rem 2rem 2rem;
    border: 0.5rem solid #f2bfbf;
    padding: 20px;
}

.summary p {
    font-size: 1rem;
    line-height: 1.4rem;
    margin-top: 15px;
}

.summary::before {
    content: "Summary";
    font-weight: bold;
    position: absolute;
    top: -14px;
    background-color: #FDFDFD;
    padding: 0px 5px;
    color: #f2bfbf;
    font-size: 17px;
}

.principle {
    position: relative;
    border-radius: 1rem 2rem 2rem 2rem;
    border: 0.5rem solid #f2bfbf;
    padding: 20px;
    margin: 10px 0px;
}

.principle p {
    position: relative;
    font-size: 1rem;
    line-height: 1.4rem;
}

.principle::before {
    content: "Principle";
    font-weight: bold;
    position: absolute;
    top: -14px;
    background-color: #FDFDFD;
    padding: 0px 5px;
    color: #f2bfbf;
    font-size: 17px;
}

.interactive-note {
    border: 0.5rem solid #FF0000;
    border-radius: 1rem 2rem 2rem 2rem;
    color: #323232;
    padding: 20px;
    margin: 10px 0px;
}

.interactive-note p {
    margin: 7.5px 0px;
    font-size: 0.9rem;
    line-height: 1.2rem;
}
/*End Notes*/

.chemical-structure {
    position: relative;
    display: block;
    text-align: center;
    margin: 10px auto 0px auto;
}

.chemical-structure::before {
    display: block;
    width: fit-content;
    padding: 5px 10px;
    margin: 0px auto;
    content: attr(name);
    font-size: 1.1rem;
    background-color: #ebd9fd;
    border-radius: 1rem;
}

.chemical-structure[label]::before {
    content: attr(label);
}

canvas {
    margin: 0px auto;
    text-align: center;
}

ul {
    margin: 5px 0px 5px 0px;
    padding: 0px 0px 0px 15px;
}

li {
    margin: 4px 0px 4px 15px;
    font-size: 1rem;
    line-height: 1.2rem;
}

/*Questions and Answers*/

.question-and-answer {
    border: 0.5rem solid #dc1414;
    border-radius: 1rem 2rem 2rem 2rem;
    color: #323232;
    padding: 20px;
}

.question-and-answer p {
    margin: 7.5px 0px;
    font-size: 0.9rem;
    line-height: 1.2rem;
}

.question-and-answer .question {}

.question-and-answer .answer {
    position: relative;
    color: #FDFDFD;
}

.question-and-answer .answer::before {
    content: "";
    background: url("https://static1.squarespace.com/static/55fc0004e4b069a519961e2d/t/55fc301ae4b01342ae9212a1/1442590746805/");
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.question-and-answer .answer:hover::before {
    content: "";
    background: url("https://static1.squarespace.com/static/55fc0004e4b069a519961e2d/t/55fc301ae4b01342ae9212a1/1442590746805/");
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    /*transform: rotate(-10deg);*/
    transform: scaleX(0);
    transform-origin: 100% 50%;
    transition: transform 0.5s;
}

/*End Questions and Answers*/

/*Graphics*/

.image-container {
    margin: 20px auto;
    text-align: center;
    position: relative;
}

.image-container[label]::after {
    content: attr(label);
    display: block;
    width: fit-content;
    padding: 5px 10px;
    font-size: 0.9rem;
    background-color: #e1e1e1;
    border-radius: 1rem;
    margin: 0px auto;
}

.image-source {
    font-size: 17px;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    position: absolute;
    right: 0px;
    top: 0px;
    overflow: hidden;
    background-color: #e1e1e1;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.image-source::before {
    content: "S";
    text-align: center;
    vertical-align: middle;
}

.image-source:hover {
    width: unset;
    max-width: 100%;
    padding: 0px 10px;
}

.image-source:hover::before {
    content: "Source: " attr(href);
    text-align: center;
    vertical-align: middle;
}

.image-credit {
    font-size: 17px;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    position: absolute;
    right: 0px;
    top: 35px;
    overflow: hidden;
    background-color: #e1e1e1;
}

.image-credit::before {
    content: "C";
    text-align: center;
    vertical-align: middle;
}

.image-credit:hover {
    width: unset;
    padding: 0px 10px;
}

.image-credit:hover::before {
    content: "Credit: " attr(credit);
    text-align: center;
    vertical-align: middle;
}

.svg-container {
    padding: 0px 10%;
    text-align: center;
}

.svg-container .full-width {
    padding: 0px 10%;
}

.svg-container[label]::after {
    content: attr(label);
    display: block;
    width: fit-content;
    padding: 5px 10px;
    font-size: 0.9rem;
    background-color: #e1e1e1;
    border-radius: 1rem;
    margin: 0px auto;
}

.svg-container * {
    font-family: "Open Sans"
}

.large-responsive-svg {
    width: 100%;
}

.medium-responsive-svg {
    margin: 0px 10%;
    width: 80%;
}

.small-responsive-svg {
    margin: 0px 20%;
    width: 60%;
}

/*End Graphics*/

/*Tables*/

table {
    border-collapse: collapse;
    margin: 10px auto;
    justify-self: start;
    grid-row-end: span 2;
}

td {
    padding: 5px;
}

th {
    padding: 0px 10px;
}

table.one-center td:first-of-type, table.two-center td:nth-of-type(2), table.three-center td:nth-of-type(3), table.all-center {
    text-align: center;
}

table.one-right td:first-of-type, table.two-right td:nth-of-type(2), table.three-right td:nth-of-type(3), table.all-right {
    text-align: right;
}

table.one-left td:first-of-type, table.two-left td:nth-of-type(2), table.three-left td:nth-of-type(3), table.all-left {
    text-align: left;
}

.data-table td {
    border: 1px solid #323232;
}

.data-table td:first-of-type {
    font-weight: bold;
}

.list-table td {
    border: none;
}

.list-table td:first-of-type {
    padding-right: 10px;
    font-weight: bold;
}

.comparison-table td {
    border-left: 1px solid #323232;
    border-right: 1px solid #323232;
}

.comparison-table th {
    font-size: 2rem;
}

.grid-table td:not(:first-of-type) {
    border: 1px solid #323232;
}

.grid-table td:first-of-type {
    font-weight: bold;
    text-align: right;
}

.grid-table>tbody tr {
    height: 80px;
}

.google-table {
    text-align: center;
}

.google-table * {
    font-size: 1.05rem;
}

/*End Tables*/

/*Lists and Links*/

.link-with-description {
    margin-top: 25px;
    width: 100%;
}

.link-with-description>a {
    font-family: "PT Serif";
    font-size: 1.6rem;
    display: block;
}

.link-with-description>p {
    font-size: 1.2rem;
    margin: 0px 0px 0px 20px;
}

.link-with-description .image-container {
    width: 39%;
    max-width: 200px;
}

.link-with-description .image-container img {
    width: 100%;
}

.link-list {
    margin: 30px 0px 0px 0px;
}

.link-list a {
    font-size: 1.6rem;
    display: block;
    margin: 10px 0px;
}

.link-list p {
    font-weight: bold;
    font-size: 1.2rem;
}

.extended-link-list {
    margin: 30px 0px 0px 0px;
}

.extended-link-list .link-with-description>a {
    font-family: "PT Serif";
    font-size: 1.6rem;
    display: block;
    margin: 25px 0px 0px 0px;
}

.extended-link-list p {
    font-size: 1.2rem;
    margin: 0px 0px 0px 20px;
}

/*End Lists and Links*/

/*Attentions*/
.attention {
    color: #467abf;
    /*rgb(70,122,191)*/
}

.second-attention {
    color: #00CC99;
    /*rgb(0,204,153)*/
}
/*End Attentions*/

/*Copyright*/
.copyright {
    margin: 0px auto;
    font-size: 1.5rem;
    text-align: center;
}

.copyright a {
    font-family: "Open Sans";
    text-decoration: none;
}
/*End Copyright*/

/*Media Groups*/
.inline {
    margin: 0px auto;
    text-align: center;
}

.inline>* {
    display: inline-block;
}

.sidebarright img, .sidebarleft img {
    max-width: 300px;
}
/*End Media Groups*/

/*Font Size Controller*/
#font-size-controller {
    font-family: "Open Sans";
    position: fixed;
    left: 10px;
    top: 24px;
}

#increase-font-size {
    display: block;
    margin: 0 7px;
    line-height: 50px;
    font-size: 45px;
    color: #C8C8C8;
    cursor: n-resize;
}

#increase-font-size:hover {
    color: #969696;
}

#decrease-font-size {
    text-align: center;
    display: block;
    margin: 0 7px;
    line-height: 30px;
    font-size: 36px;
    color: #C8C8C8;
    cursor: s-resize;
    border-bottom: 2px solid #C8C8C8;
    padding-bottom: 6px;
}

#decrease-font-size:hover {
    color: #969696;
}

#decrease-font-size::selection {
    background: none;
}

#increase-font-size::selection {
    background: none;
}
/*End Font Size Controller*/

/*Top Bar*/
#top-bar {
    width: 80%;
    margin: 0px auto;
    text-align: center;
}

.help {
    padding: 10px;
}
/*End Top Bar*/

/*Custom Google Search*/
#search {
    margin: 0px auto;
    width: 100%;
}

#search table {
    margin: 0px;
}
/*End Custom Google Search*/

/*Google Translate*/
#translate {
    width: 100%;
    text-align: center;
}

.goog-te-gadget-icon {
    filter: grayscale(100%);
}
/*End Google Translate*/

/*Formulae*/

.inline-formula {
    white-space: nowrap;
    margin: 0px;
    padding: 0px;
}

.block-formula {
    margin: 28px 0px;
    text-align: center;
    max-width: 900px;
}

.block-formula[label]::after {
    content: attr(label);
    font-size: 1rem;
    font-style: italic;
    color: #969696;
    text-align: center;
}

.content > .block-formula {
    border-top: 5px solid cornsilk;
    border-bottom: 5px solid cornsilk;
    margin: 14px auto;
    padding: 14px 14px;
    border-radius: 30px;
}

.content > .block-formula + .block-formula {
    margin-top: 0px;
}

/*End Formula*/

/*KaTeX*/

.katex.katex {
    font-size: 1.1rem;
}

.inline-formula>.katex {
    font-size: inherit;
}

/*End KaTeX*/

/*Heading Navigator*/

#headings-navigator {
    position: fixed;
    top: 0px;
    left: 0px;
    font-size: 1rem;
}

.heading2-navigator {
    height: 1rem;
}

.heading2-navigator a {
    visibility: hidden;
}

.heading2-navigator:hover a {
    visibility: visible;
}

.heading2-navigator::before {
    content: "•";
    font-size: 50px;
}

/*End Heading Navigator*/

/*Quick Navigation*/

#quick-navigation {
    position: fixed;
    top: 115px;
    left: 0px;
    background-color: #FDFDFD;
    transition: max-width 0.3s, background-color 0.3s;
    padding: 2px 0px 0px 15px;
    max-width: 40px;
    max-height: 55px;
    overflow: hidden;
    z-index: 10000;
}

#quick-navigation::before {
    content: "⊕";
    font-size: 45px;
    display: block;
    color: #C8C8C8;
}

#quick-navigation:hover::before {
    content: "⊕";
    font-size: 45px;
    display: block;
    color: #969696;
}

#quick-navigation.open::before {
    content: "⊗ Page Menu";
    white-space: nowrap;
    font-size: 45px;
    display: block;
    color: #323232;
}

#quick-navigation.open {
    max-width: 100%;
    max-height: 77vh;
    height: auto;
    border-bottom: 2px solid #C8C8C8;
    border-top: 2px solid #C8C8C8;
    border-right: 2px solid #C8C8C8;
    padding-bottom: 15px;
    padding-top: 0px;
    background-color: #F2F2F2;
}

#quick-navigation a {
    display: block;
    text-decoration: none;
    white-space: nowrap;
    font-size: 1rem;
    box-sizing: border-box;
    overflow: visible;
    padding: 2px 7px 2px 2px;
    color: #000000;
}

#quick-navigation a.quick-navigation-h1 {
    height: 2rem;
}

#quick-navigation a.quick-navigation-h2 {
    height: 1.8rem;
    margin-top: 0.2rem;
}

#quick-navigation a.quick-navigation-h1+a.quick-navigation-h2 {
    margin-top: 0rem;
}

#quick-navigation a.quick-navigation-h3 {
    height: 1.6rem;
    margin-top: 0.2rem;
}

#quick-navigation a.quick-navigation-h2+a.quick-navigation-h3 {
    margin-top: 0rem;
}

#quick-navigation a.quick-navigation-h4 {
    height: 1.4rem;
}

#quick-navigation a:hover {
    color: #636363;
    padding-top: 0px;
}

#quick-navigation a.quick-navigation-h1::before {
    content: "●";
    margin: 0px 5px 0px 5px;
    /*color: #323232;*/
    color: #000096;
}

#quick-navigation a.quick-navigation-h2::before {
    content: "●";
    margin: 0px 5px 0px 20px;
    /*color: #636363;*/
    color: #1515ff;
}

#quick-navigation a.quick-navigation-h3::before {
    content: "●";
    margin: 0px 5px 0px 35px;
    /*color: #969696;*/
    color: #6161ff;
}

#quick-navigation a.quick-navigation-h4::before {
    content: "●";
    margin: 0px 5px 0px 50px;
    /*color: #C8C8C8;*/
    color: #acacff;
}

#quick-navigation-scroll {
    overflow: scroll;
    padding-right: 25px;
    max-height: 65vh;
}

/*End Quick Navigation*/

/*Swatches*/

.swatch {
    text-align: center;
}

.swatch:hover {
    position: relative;
    transform: scale(2, 2);
    transition: all 0.1s;
}

/*End Swatches*/

/*Sequences*/
.sequence-container {
    position: relative;
}

.sequence {
    position: relative;
    border-top: 5px solid red;
    border-bottom: 5px solid red;
    border-radius: 30px;
    counter-reset: sequence-item;
}

.sequence .sequence-item {
    margin: 10px 30px;
    padding: 20px;
    opacity: 0.2;
    transition: opacity 0.4s;
    text-align: center;
}

.sequence .sequence-item p {
    font-size: 1rem;
    line-height: 1.4rem;
    margin: 20px 0px;
}

.sequence .sequence-item::before {
    counter-increment: sequence-item;
    content: counter(sequence-item);
    font-size: 36px;
    color: #C8C8C8;
}

.sequence .sequence-item.active {
    opacity: 1;
    border-top: 5px solid #C8C8C8;
    border-bottom: 5px solid #C8C8C8;
    border-radius: 30px;
}

.sequence .sequence-item.active:hover {
    border-top: 5px solid #969696;
    border-bottom: 5px solid #969696;
}

.sequence-container .next-button {
    position: absolute;
    bottom: 5px;
    right: 6px;
}

.sequence-container .next-button::before {
    content: "⬇︎";
    font-size: 30px;
}

.sequence-container .previous-button {
    position: absolute;
    top: 5px;
    right: 6px;
}

.sequence-container .previous-button::before {
    content: "⬆︎";
    font-size: 30px;
}
/*End Sequences*/


/*JSmol*/
.jsmol-container {
    width: 100%;
    text-align: center;
}

.jsmol-container > div {
    display: inline-block;
    border: 0.5rem solid #FF0000;
}

.jsmol-container > a {
    display: block;
}
/*End JSmol*/

@supports (display: grid) {
    @media only screen and (min-width: 1200px) {
        .content {
            width: 100%;
            display: grid;
            grid-template-columns: [content-start sidebarleft-start] 1fr [sidebarleft-end main-start] 450px [main-end sidebarright-start] 1fr [sidebarright-end content-end];
            align-items: start;
            grid-column-gap: 10px;
        }
        .content>* {
            grid-column-start: main;
        }
        .content>.note {
            grid-column-start: sidebarright;
            align-self: end;
        }
        .content>h1+.note, .content>h2+.note, .content>h3+.note, .content>h4+.note, .content>.full-width+.note, .content>.inline+.note {
            grid-column-start: main;
        }
        .content>block-formula {
            grid-column: 1 / -1;
        }
        h1 {
            margin-right: -49%;
            margin-left: -49%;
            padding: 0px 29%;
        }
        h2 {
            margin-left: -20%;
            text-align: left;
        }
        h3 {
            margin-left: -10%;
            text-align: left;
        }
        h4 {
            margin-left: -5%;
            text-align: left;
        }
        .link-with-description {
            display: grid;
            grid-template-columns: [content-start sidebarleft-start] 1fr [sidebarleft-end main-start] 450px [main-end];
            align-items: start;
            grid-column-gap: 10px;
            grid-column: sidebarleft-start / main-end;
        }
        .link-with-description>* {
            grid-column-start: main;
        }
        .link-with-description .image-container {
            width: 28%;
            grid-column: sidebarleft;
            grid-row: span 3;
            margin-right: 18px;
            position: relative;
            top: -18px;
        }
        /*Media Groups*/
        .inline {
            grid-column: 1 / -1;
        }
        .full-width {
            grid-column: 1 / -1;
        }
        .sidebarright {
            grid-column: sidebarright;
        }
        .sidebarleft {
            grid-column: sidebarleft;
        }
        .sidebarright .image-container:hover, .sidebarleft .image-container:hover {
            position: relative;
            transform: scale(1.7, 1.7);
            transition: all 0.3s;
            background-color: #F2F2F2;
            outline-style: solid;
            outline-color: #C8C8C8;
            outline-width: 2px;
        }
        .sidebarright .image-container:hover {
            transform-origin: 100% 50%;
        }
        .sidebarleft .image-container:hover {
            transform-origin: 0% 50%;
        }
        /*End Media Groups*/
        #font-size-controller {
            left: 20px;
        }
        #quick-navigation {
            padding-left: 25px;
        }
    }
}

@media print {
    .note, .questions-note, .summary, .principle, .definition, table, .img-container, .svg-container, .block-formula {
        page-break-inside: avoid;
    }
    h2:not(h2:first-of-type) {
        margin-top: 0px;
        page-break-before: always;
    }
    body {
        background-color: transparent;
        width: 100%;
        padding: 0px;
        margin: 0px;
    }
    .content {
        display: block;
        width: 90%;
    }
    html {
        font-size: 13px;
    }
    .copyright::after {
        content: " ShoutEducation";
    }
    #search, #font-size-controller, #quick-navigation, .link-list, .extended-link-list, .questions-note, .jsmol-container, .no-print, .interactive-note {
        display: none;
    }

    .sequence-container .previous-button {
        display: none;
    }

    .sequence .sequence-item {
        opacity: 1;
    }

    .sequence .sequence-item.active {
        border: none;
    }
}