<!DOCTYPE html>
<html><head>
<meta name=viewport content="width=device-width, initial-scale=0.7">
<title>Free Radical Addition in the Polymerisation of Ethene | ChemKey</title>
<meta charset="UTF-8">
<meta name="description" content="Facts and mechanism for the polymerisation of ethene by a free radical addition reaction">
<meta name="keywords" content="ethene, poly(ethene), polythene, free radical addition, free radical, free radicals, radical, radicals, addition, chain reaction, mechanism, polymerisation">

<link rel="stylesheet" type="text/css" href="https://shout.education/ChemKey/chemguide.css">
<script type="text/javascript" src="https://shout.education/ChemKey/Libraries/AccessibilityFeatures/FontSizeController/fontSizeController.js"></script>
<script type="text/javascript" src="https://shout.education/ChemKey/Libraries/ChemDoodleWebComponents/ChemDoodleWeb.js"></script>
<script type="text/javascript" src="https://shout.education/ChemKey/Libraries/ChemDoodleWebComponents/chemDoodleWebComponents.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.9.0-alpha1/katex.min.css" integrity="sha384-8QOKbPtTFvh/lMY0qPVbXj9hDh+v8US0pD//FcoYFst2lCIf0BmT58+Heqj0IGyx" crossorigin="anonymous">
<script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.9.0-alpha1/katex.min.js" integrity="sha384-GR8SEkOO1rBN/jnOcQDFcFmwXAevSLx7/Io9Ps1rkxWp983ZIuUGfxivlF/5f5eJ" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://shout.education/ChemKey/Libraries/KaTeX/KaTeXer.js"></script>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-109203606-1"></script>
<script>window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());
gtag('config', 'UA-109203606-1');</script>
<script type="text/javascript" src="https://shout.education/ChemKey/Libraries/QuickNavigation/navigation.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="https://shout.education/ChemKey/Libraries/GoogleCharts/googleTable.js"></script>
<script src="https://shout.education/ChemKey/Libraries/Sequences/sequences.js" type="text/javascript"></script>
<script type="text/javascript" src="//platform-api.sharethis.com/js/sharethis.js#property=5a84906d4b5cb20013b18487&product=sticky-share-buttons"></script>
</head>

<body>
<a name="top"></a>
<div id="top-bar">
<div class="help">Need help? Email <a href="mailto:help@shout.education?subject=Help with ChemKey">help@shout.education</a></div>
<div id="translate">
<div id="google_translate_element"></div><script type="text/javascript">
function googleTranslateElementInit() {
new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE, gaTrack: true, gaId: 'UA-109203606-1'}, 'google_translate_element');
}
</script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</div>
<div id="search">
<script>(function () { var cx = '004986493609168734102:owk3bhie1ts'; var gcse = document.createElement('script'); gcse.type = 'text/javascript'; gcse.async = true; gcse.src = 'https://cse.google.com/cse.js?cx=' + cx; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(gcse, s); })();</script>
<gcse:search></gcse:search>
</div>
</div>

<div class="content">

<h1>Free Radical Addition in the Polymerisation of Ethene</h1>

<div class="text-block">
<p>This page gives you the facts and a simple, uncluttered mechanism for the polymerisation of ethene by a free radical addition reaction. If you want the mechanism explained to you in detail, there is a link at the bottom of the page.</p>
</div>

<h3>The Facts</h3>

<div class="text-block">
<p>An addition reaction is one in which two or more molecules join together to give a single product. During the polymerisation of ethene, thousands of ethene molecules join together to make poly(ethene) – commonly called polythene.</p>
</div>

<div class="block-formula">
n~CH_2{=}CH_2 \longrightarrow {{[\hspace{1.5mu}}\mathllap{-}CH_2{-}CH_2{-}\mathllap{]\hspace{2.5mu}}}_n
</div>

<div class="text-block">
<p>The number of molecules joining up is very variable, but is in the region of 2000 to 20000.</p>
</div>

<h4>Conditions</h4>

<table class="list-table">
<tbody><tr><td>Temperature:</td><td>about 200°C</td></tr>
<tr><td>Pressure:</td><td>about 2000 atmospheres</td></tr>
<tr><td>Initiator:</td><td>a small amount of oxygen as an impurity</td></tr>
</tbody></table>

<div class="note">
<p>Note: The oxygen is sometimes described as a catalyst for the reaction. That's not strictly true. A catalyst can be recovered unchanged at the end of a reaction, but in this case the oxygen is used up. It gets incorporated into the polymer molecules – as you will see shortly.</p>
</div>

<h3>The Mechanism</h3>

<div class="text-block">
<p>The over-all process is known as free radical addition.</p>
</div>

<h4>Chain initiation</h4>

<div class="text-block">
<p>The chain is initiated by free radicals, Ra•, produced by reaction between some of the ethene and the oxygen initiator.</p>
</div>

<h4>Chain propagation</h4>

<div class="text-block">
<p>Each time a free radical hits an ethene molecule a new longer free radical is formed.</p>
</div>

<div class="block-formula">
\begin{aligned}
\text{Ra}{\bullet} + CH_2{=}CH_2 &\longrightarrow \text{Ra}CH_2CH_2{\bullet} \\
\\
\text{Ra}CH_2CH_2{\bullet} + CH_2{=}CH_2 &\longrightarrow \text{Ra}CH_2CH_2CH_2CH_2{\bullet} \\
\\
{}&\text{etc.}
\end{aligned}
</div>

<h4>Chain termination</h4>

<div class="text-block">
<p>Eventually two free radicals hit each other producing a final molecule. The process stops here because no new free radicals are formed.</p>
</div>

<div class="block-formula">
\text{Ra}(CH_2)_m{\bullet} + {\bullet}(CH_2)_n\text{Ra} \longrightarrow \text{Ra}(CH_2)_{m+n}\text{Ra}
</div>

<div class="text-block">
<p>Because chain termination is a random process, poly(ethene) will be made up of chains of all sorts of different lengths.</p>
</div>

<div class="questions-note">
<p>Questions to test your understanding</p>
<p>You might want to read the Help! page below before you answer these questions.</p>
<a href="../questions/q-freeradpolym.pdf" target="_blank">Questions on the free radical polymerisation of ethene</a>
<a href="../questions/a-freeradpolym.pdf" target="_blank">Answers</a>
</div>

<div class="link-list"> 
<p>Where would you like to go now?</p>
<a href="polymtt.html#top">Help! Talk me through this mechanism</a>
<a href="../frmenu.html#top">To menu of free radical reactions</a>
<a href="../../mechmenu.html#top">To menu of other types of mechanism</a>
<a href="../../index.html#top">To Main Menu</a>
</div>

<div class="copyright"><a href="../../about.html">&copy;</a></div>
</div>
</body></html>