* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    padding: 20px;
}

.sequence-container {
    position: relative;
    padding: 0px 20px;
}

.sequence {
    position: relative;
    overflow: hidden;
    border-top: 5px solid red;
    border-bottom: 5px solid red;
    border-radius: 30px;
}

.sequence .sequence-item {
    margin: 0px;
    opacity: 0.2;
    width: 100%;
}

.sequence .sequence-item.active {
    display: initial;
    opacity: 1;
}

.sequence-container .next-button {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.sequence-container .next-button::before {
    content: "↓";
    font-size: 30px;
}

.sequence-container .previous-button {
    position: absolute;
    top: 0px;
    right: 0px;
}

.sequence-container .previous-button::before {
    content: "↑";
    font-size: 30px;
}